# Add a comment to force a change.

name: Webhook CI

on:
  push:
    branches:
      - release/v*
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
  pull_request:
    paths-ignore:
    - '.gitignore'
    - 'CODEOWNERS'
    - 'LICENSE'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: CI
    strategy:
      fail-fast: false
      matrix:
        archBox:
        - { arch: amd64, vmArch: x64 }
        - { arch: arm64, vmArch: arm64 }
    runs-on: runs-on,runner=1cpu-linux-${{ matrix.archBox.vmArch }},run-id=${{ github.run_id }}
    steps:
      - name : Checkout repository
        # https://github.com/actions/checkout/releases/tag/v4.1.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      # TODO: Pull this next one out once there's a helm-release for rancher 2.9
      - name: Checkout rancher/rancher and build the chart
        run: |
          mkdir -p "${{ runner.temp}}"
          pushd "${{ runner.temp}}"
          git clone --depth 1 -b main https://github.com/rancher/rancher.git rancherDir
          cd rancherDir
          ./scripts/chart/build chart
          tar cfz "${{ runner.temp }}/rancher.tgz" -C build/chart/rancher .
          popd

      - name: Build, Test, and Package
        run: make ci

      - name: install K3d
        run: ./.github/workflows/scripts/install-k3d.sh
        env:
          K3D_VERSION: latest

      - name: setup cluster
        run: ./.github/workflows/scripts/setup-cluster.sh
        env:
          CLUSTER_NAME: webhook
          K3S_VERSION: v1.28.9-k3s1
          ARCH: "${{ matrix.archBox.arch }}"

      - name: import image
        run: k3d image import dist/rancher-webhook-image.tar -c webhook

      - name: start rancher
        run: ./.github/workflows/scripts/start-rancher.sh
        env:
          CHART_PATH: "${{ runner.temp }}/rancher.tgz"
          RANCHER_IMAGE_TAG: "head"
          VERSION: "main"

      - name: get vars
        run: cat dist/image_tag >> $GITHUB_ENV

      - name: Run integration tests
        run: ./.github/workflows/scripts/integration-test-ci
        env:
          ARCH: "${{ matrix.archBox.arch }}"
          CLUSTER_NAME: webhook
          IMAGE_REPO: rancher/webhook
          IMAGE_TAG: "${{ env.IMAGE_TAG }}"

      - name: Dump logs
        if: failure()
        run: |
          kubectl logs -n cattle-system -l app=rancher-webhook --all-containers=true --tail=-1 --timestamps=true || true
          echo "Dumping webhook configurations:"
          kubectl get mutatingwebhookconfiguration rancher.cattle.io -o yaml || true
          kubectl get validatingwebhookconfiguration rancher.cattle.io -o yaml || true
