name: Publish Head
on:
  push:
    branches:
      - main
      - release/v*
permissions:
  contents: write
env:
  REGISTRY: docker.io
  REPO: rancher
jobs:
  build:
    name: build and package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
        - amd64
        - arm64
    steps:
    - name : Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: 'go.mod'
    - name: Set Version/Commit
      run: |
            source ./scripts/version
            echo "VERSION=${VERSION}" >> $GITHUB_ENV
            echo "COMMIT=${COMMIT}" >> $GITHUB_ENV
    - name: Build and package
      run: |
          make build ARCH=${{ matrix.arch }}
          mkdir -p dist/artifacts
          cp bin/webhook dist/artifacts/webhook-linux-${{ matrix.arch }}
      env:
        ARCH: "${{ matrix.arch}}"
        GOARCH: "${{ matrix.arch}}"
    - name: Upload artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: webhook-artifacts-${{ matrix.arch }}
        path: |
          dist/artifacts/webhook-linux-${{ matrix.arch }}
  image:
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        arch:
        - amd64
        - arm64
    name: Build and push Webhook images
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name : Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Download the artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: webhook-artifacts-${{ matrix.arch }}
          path: dist/artifacts
      - name: Move binary to bin/
        run: |
          mkdir -p bin/
          cp -v dist/artifacts/webhook-linux-${{ matrix.arch }} bin/webhook
          chmod +x bin/webhook
      - name: "Read vault secrets"
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
      - name: Set Version/Commit
        run: |
          source ./scripts/version
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "COMMIT=${COMMIT}" >> $GITHUB_ENV
      - name: Build and push the webhook image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ./package/Dockerfile
          platforms: "linux/${{ matrix.arch }}"
          outputs: type=image,name=${{ env.REPO }}/rancher-webhook,push-by-digest=true,name-canonical=true,push=true
          build-args: |
            VERSION=${{ env.VERSION }}
            COMMIT=${{ env.COMMIT }}
      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"
      - name: Upload digest
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: digests-${{ matrix.arch }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1
  merge:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    needs: image
    steps:
      - name: Download digests
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: "Read vault secrets"
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD
      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
      - name: Generate tag
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "TAG=head" >> $GITHUB_ENV
          else
            VERSION=$(echo "${{ github.ref }}" | sed -E -n 's|refs/heads/release/v(.*)|\1|p')
            echo "TAG=v${VERSION}-${{ github.sha }}-head" >> $GITHUB_ENV
          fi
      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create -t ${{ env.REGISTRY }}/${{ env.REPO }}/rancher-webhook:${{ env.TAG }} \
            $(printf '${{ env.REPO }}/rancher-webhook@sha256:%s ' *)
