name: release

on:
  push:
    tags:
      - v*
  workflow_dispatch:

permissions:
  contents: write

env:
  REGISTRY: docker.io
  REPO: rancher

jobs:
  build:
    name: build and package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
        - amd64
        - arm64
    steps:

    - name : Checkout repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Build Binary
      run: make build ARCH=${{ matrix.arch }}

    - name: Package Helm Chart
      run: make package-helm

    - name: Prepare Artifacts
      run: |
        mkdir -p dist/artifacts
        cp bin/webhook dist/artifacts/webhook-linux-${{ matrix.arch }}
        cd dist/artifacts
        sha256sum webhook-linux-${{ matrix.arch }} > sha256sum-${{ matrix.arch }}.txt

    - name: Upload artifacts
      # https://github.com/actions/upload-artifact/commit/65462800fd760344b1a7b4382951275a0abb4808
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: webhook-artifacts-${{ matrix.arch }}
        path: |
          dist/artifacts/webhook-linux-${{ matrix.arch }}
          dist/artifacts/sha256sum-${{ matrix.arch }}.txt
          dist/artifacts/rancher-webhook-*.tgz

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:

    - name : Checkout repository
       # https://github.com/actions/checkout/releases/tag/v4.1.1
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: package-helm
      run: make package-helm

    - name: Download the amd64 artifacts
      uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      # https://github.com/actions/download-artifact/releases/tag/v4.1.7
      with:
        name: webhook-artifacts-amd64
        path: dist/artifacts

    - name: Download the arm64 artifacts
      uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      # https://github.com/actions/download-artifact/releases/tag/v4.1.7
      with:
        name: webhook-artifacts-arm64
        path: dist/artifacts

    - name: Get the version
      run: |
        source ./scripts/version
        echo "TAG=$(echo $TAG | sed 's/-amd64$//')" >> $GITHUB_ENV

    - name: Upload the files
      run: |
        ls -lR dist
        cd dist/artifacts
        gh --repo "${{ github.repository }}" release create ${{ github.ref_name }} --prerelease --verify-tag --generate-notes webhook-linux-* sha256sum-*.txt rancher-webhook*.tgz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # Required for cosign signing
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: "Read vault secrets"
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials registry | PRIME_STG_REGISTRY ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials username | PRIME_STG_REGISTRY_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials password | PRIME_STG_REGISTRY_PASSWORD

      - name: Publish image
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        with:
          image: rancher-webhook
          tag: ${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64
          
          public-registry: docker.io
          public-repo: rancher
          public-username: ${{ env.DOCKER_USERNAME }}
          public-password: ${{ env.DOCKER_PASSWORD }}

          push-to-prime: true
          prime-repo: rancher
          prime-registry: ${{ env.PRIME_STG_REGISTRY }}
          prime-username: ${{ env.PRIME_STG_REGISTRY_USERNAME }}
          prime-password: ${{ env.PRIME_STG_REGISTRY_PASSWORD }}
